@charset "UTF-8"; 

@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
}

.fontes {
    font-family: 'android'
}

.letratitulo {
    color: #124027;
    font-size: 20px;
}

.letrasub {
    color: #124027;
    font-size: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E3C0;
    background-attachment: fixed;    
}

header {
    background-image: linear-gradient(to bottom, #35BE72,#278C55, #124027);
    font-family: Arial, Helvetica, sans-serif; /*tem que ver a fonte do exemplo*/
    color: white;
    text-align: center;
    padding: 15px;
    border: 10px;
    margin: -9px;    
    box-shadow: 5px 1px 8px 4px rgb(0 0 0 / 31%);  
}

.menu {
    text-align: left;
    color: white;
    text-decoration: none;
    
}

#amenu {
    margin-right: 10px;
}

a {
    text-decoration: none;
    
}

nav > a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
    color: rgb(24, 41, 41);
}

.titulo {
    font-size: 30px;
    letter-spacing: -1px;
}

.subtitulo {
    font-size: 15px;
    padding: 0px;
    border: 0px;
    margin: 20px;
}

#psubtitulo {
    padding: 0px;
    margin-top: 2px;
}

main {
    background-color: white;
    padding: 10px;
    margin: 9px 150px 10px 150px;
    text-align: justify;
    min-width: 500px;
    border-radius: 0px 0px 10px 10px;
}

aside {
    display: inline-block;
}

.parte2 {
    margin: 30px;
}

.video {
    background-color: #124027;
    text-align: center;
    padding: 10px;
}

.fotos {  /*PARA DEIXAR AS FOTOS CENTRALIZADAS NO MAIN*/
    display:         flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.extra {
    background-color: #E5E3C0;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;    
}

.extratitulo{
    color: white;
    background-color: #278C55;
    padding: 10px 10px 10px 10px;
    margin: -10px -10px 18px -10px;
    border-radius: 10px 10px 0px 0px 
}

footer {
    background-color: #124027;
    color: white;
    text-align: center;
    margin: -5px -7px -19px -9px;
}

.degradesub {
    background-image: linear-gradient(to right, #E5E3C0, white);
    background-color: #E5E3C0;
}